@font-face {
    src: url("/fonts/OpenSans-Regular.ttf");
    font-family: "OpenSans-Regular", sans-serif;
}
.link {
	color: darkblue;
	border: solid 1px black;
	margin: 5px 10px;
	padding: 5px;
	background-color: rgb(30, 144, 255, 0.2);
	width: 480px;
	font-family: "OpenSans-Regular", serif;
}
.header a {
	color: darkblue;
	margin: 0px 7px;
	padding: 0px;
	background-color: lightgray;
	text-decoration: none;
}

h1 {
	padding: 0;
	margin: 5px;
	color: darkblue;
	font-family: "OpenSans-Regular", serif;
}

body {
	background-color: lightgray;
	margin: 0;
	font-family: "OpenSans-Regular", sans-serif;
}
.header {
	border-bottom: 1px solid black;
	padding: 20px;
	margin: 0px;
	background-color: rgb(30, 144, 255, 0.2);
}
html {
	text-align: center;
}

.img {
	border: solid 2px black;
}
.img-div {
	background-color: rgb(30, 144, 255, 0.2);
	padding: 20px;
	margin: 0 10%;
}
header a:hover {
	color: brown;
}
p a:hover {
	color: darkred;
}
.table {
	text-align: left;
	margin-left: 15%;
	list-style-image: url("images/gal.png");
	background-size: 16px;
}
.footer {
	border-top: 1px solid black;
	padding: 10px;
	margin: 0px;
	background-color: rgb(30, 144, 255, 0.2);
}
footer a:hover {
	color: firebrick;
}

.flexbox_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flexbox_main div {
	width: 500px;
}
.flexbox_main_div p {
	margin: 10px 10px;
}

.contact p {
	padding: 0;
	margin-top: 5px;
	color: black;
}

.material-icons {
	font-size: 10px;
	color: black;
}